@tailwind base;
@tailwind components;
@tailwind utilities;



.hero{
  @apply pt-24;
background: radial-gradient(50% 50% at 50% 50%, #2998CA 0%, rgba(67, 151, 117, 0) 100%), conic-gradient(from 174.92deg at 50% 50%, #18895B -56.25deg, #2998CA 27.03deg, #34C5A2 169.15deg, #18895B 303.75deg, #2998CA 387.03deg);
}

.link {
  grid-template-columns: auto 1fr auto;
}

.bullets {
  @apply grid-cols-3;
  grid-template-rows: 1fr auto 1fr;

}
@media (max-width: 640px) { 
  .bullets {
  grid-template-rows: 1fr auto 1fr 1fr auto 1fr 1fr auto 1fr;
          grid-template-columns: 1fr;}
 }

.markdown h1 {
  @apply text-4xl;
  @apply mb-4;
  @apply font-bold;
}

.markdown h2 {
  @apply text-3xl;
  @apply mb-4;
  @apply font-normal;
}

.markdown h3 {
  @apply text-2xl;
  @apply mb-4;
  @apply font-normal;
}

.markdown p {
  @apply mb-2;
}

.markdown a {
  @apply font-bold;
  @apply hover:underline;
  @apply transition;
}
.markdown ul {
  @apply relative;
}
.markdown li {
  @apply before:content-['-'];
  @apply before:absolute;
  @apply before:left-0;
  @apply ml-4;
}

.markdown hr {
  @apply my-5
}

.markdown strong{
  @apply font-bold;
}
