@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  @apply pt-24;
  background: radial-gradient(50% 50% at 50% 50%,
      #896ae4 0%,
      rgba(67, 151, 117, 0) 100%),
    conic-gradient(from 174.92deg at 50% 50%,
      #3e9644 -56.25deg,
      #896ae4 27.03deg,
      #34c5a2 169.15deg,
      #3e9644 303.75deg,
      #896ae4 387.03deg);
}

.glow {
  filter: drop-shadow(0 0 0.2rem #ffffff21);
}

.link {
  grid-template-columns: auto 1fr auto;
}

.bullets {
  @apply grid-cols-3;
  grid-template-rows: 1fr auto 1fr;
}

@media (max-width: 640px) {
  .bullets {
    grid-template-rows: 1fr auto 1fr 1fr auto 1fr 1fr auto 1fr;
    grid-template-columns: 1fr;
  }
}

.markdown h1 {
  @apply text-4xl;
  @apply mb-4;
  @apply font-bold;
  @apply capitalize;
}

.markdown h2 {
  @apply text-3xl;
  @apply mb-4;
  @apply font-normal;
  @apply uppercase;
  @apply font-bold;
}

.markdown h3 {
  @apply text-2xl;
  @apply mb-4;
  @apply font-normal;
  @apply font-bold;
}

.markdown h4 {
  @apply text-xl;
  @apply mb-4;
  @apply font-normal;
}

.markdown p {
  @apply mb-3;
  @apply leading-8;
}

.markdown a {
  @apply font-bold;
  @apply underline;
  @apply transition;
  @apply text-primary-light;
}

.markdown ul {
  @apply relative;
  @apply my-4;
}

.markdown li {
  @apply before:content-['-'];
  @apply before:absolute;
  @apply before:left-0;
  @apply ml-4;
}

.markdown hr {
  @apply my-5;
}

.markdown strong {
  @apply font-bold;
}

.markdown .callout {
  @apply m-4;
  @apply bg-grey;
  @apply bg-grey;
  color: #ffffff;
  @apply rounded-lg;
  @apply p-5;
}

.markdown u {
  @apply font-normal;
}

.markdown .md-button {
  @apply rounded-lg;
  @apply p-5;
  @apply lg:text-lg;
  @apply text-base;
  @apply hover:-translate-y-1;
  @apply bg-translucent;
  @apply transition;
  @apply drop-shadow-md;
  color: #ffffff;
  @apply no-underline;
  @apply uppercase;
  @apply font-bold;
}

.markdown .md-button-wrapper {
  @apply py-6;
  @apply mb-2;
  @apply hover:-translate-y-2;
  @apply transition;
  @apply w-fit;
}

.markdown .highlight {
  @apply font-bold;
  @apply text-primary-light;
}

:root {
  --fc-page-bg-color: #333333;
  --fc-list-event-hover-bg-color: #333333;
  --fc-border-color: none;
  --fc-button-bg-color: #896ae4;
  --fc-button-border-color: #896ae4;
  --fc-button-hover-bg-color: #744ee3;
  --fc-button-hover-border-color: #744ee3;
  --fc-button-active-bg-color: #744ee3;
  --fc-button-active-border-color: #744ee3;
  --fc-page-bg-color: #333333;
}

.fc-cell-shaded {
  border-radius: 0.5rem;
}

.fc .fc-list-sticky .fc-list-day>* {
  border-radius: 0.5rem;
}

.fc .fc-list-event-title {
  border-radius: 0 0.5rem 0.5rem 0;
}

.fc .fc-list-event-time {
  border-radius: 0.5rem 0 0 0.5rem;
}

/* CSS for scroll-back-up button */
.scroll-up-button {
  position: fixed;
  bottom: 20px;
  /* Adjust as needed */
  right: 15px;
  /* Adjust as needed */
  color: #ffffff;
  /* Button text color */
  background-color: #333333;
  border: none;
  border-radius: 5%;
  /* Make it round */
  padding: 5px 15px;
  /* Adjust as needed */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Arrow icon */
.scroll-up-button::before {
  content: "\2191";
  /* Unicode character for arrow up */
  font-size: 60px;
  /* Adjust as needed */
  font-weight: bold;
}

/* Hover effect */
.scroll-up-button:hover {
  background-color: #896ae4;
  /* Button background color on hover */
  transform: scale(1.01);
  /* Scale up on hover */
  @apply hover:-translate-y-2;
}

/* Scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Scroll to top when button is clicked */
.scroll-up-button:target {
  scroll-behavior: auto;
  animation: scrollUp 0.5s forwards;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}